<div id="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" formControlName="username"/>
            <div *ngIf="submitted && formFields.username.errors">
                <p class="alert alert-danger">Username is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password"/>
            <div *ngIf="submitted && formFields.password.errors" class="alert alert-danger">
                <p>Password is required! It must have at least:</p>
                <ul>
                    <li>8 characters</li>
                    <li>1 symbol</li>
                    <li>1 number</li>
                    <li>1 uppercase letter</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName"/>
            <div *ngIf="submitted && formFields.firstName.errors">
                <p class="alert alert-danger">First name is required</p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"/>
            <div *ngIf="submitted && formFields.lastName.errors">
                <p class="alert alert-danger">Last name is required</p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" formControlName="email"/>
            <div *ngIf="submitted && formFields.email.errors">
                <p class="alert alert-danger">Email is required</p>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" [disabled]="loading">Register</button>
            <img src="assets/loading-star.gif" id="loading-img" *ngIf="loading">
        </div>

        <div *ngIf="submitted && !registerSuccess">
            <p class="alert alert-danger">Invalid registration details provided, or user already exists with that username/email.</p>
        </div>
    </form>
</div>